{% extends "base.html" %}
{% block app-content %}
	{% if errors %}
		<u>Errors</u><br/>
		{% for error in errors %}
			<p>{{error}}</p>
		{% endfor %}
	{% endif %}
	
	{% if success %}
		<u>Success</u><br/>
		{% for s in success %}
			<p>{{s}}</p>
		{% endfor %}
	{% endif %}

	<form name="blogPost" method="post" action="/blog/post/" enctype="multipart/form-data">
		{% csrf_token %}
		Enter title:<input type="text" name="post_title" /><br/>
		Tags:<input type="text" name="tags" /><br/>
		Post:<br/>
		<textarea name="post" rows=20 cols=50></textarea><br/>
		<input type="submit" value="Post" name="post_submit" />
	</form>

{% load tagging_tags %}
 
    {% tag_cloud_for_model blog.Post as tags with steps=20 min_count=1 distribution=log %}
    {% for tag in tags %}
    <font style="font-size:{{ tag.font_size|add:"10" }}pt">
        <a href="/blog/tags/{{tag}}/" title="{{ tag.count }}">{{ tag.name }}</a>  
    </font>
    {% endfor %}

	{% if posts %}
		<br/>
		<u><b>Posts</b></u><br/>
		{% for post in posts %}
			<div class="post" style="background-color:lightgray; width:auto; height:auto;">
				<p>Author:{{post.author}}</p>
				<p>Title: {{post.title}}</p>
				<p>Date: {{post.date}}</p>
				<p>Tag: {{post.tags}}</p>
				<p>Post: {{post}}</p>
				<u>Comments:</u>
				<div class="comments_{{post.id}}" style="background-color:">
					{% for comment in comments %}
						{% if comment.post.id == post.id %}
							<p style="background-color:lightblue">{{comment.author}}: {{comment}}</p>
						{% endif %}
					{% endfor %}
				</div>
				<form name="comment_{{post.id}}" method="post" action="../comment/" enctype="multipart/form-data" class="commentForm">	
					{% csrf_token %}
					<textarea name="post_comment" rows="" cols=""></textarea><br/>
					<input type="hidden" name="post_id" value={{post.id}} />
					<input type="submit" value="Comment" name="comment_submit" />	
				</form>
			</div>
		{% endfor %}
	{% endif %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/ebooks/jquery-1.8.min.js">		
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/blog/comment.js">
	</script>

{% endblock %}
